$white: #ffffff;
$light-gray: hsl(273, 4%, 51%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$main-header-bg: hsl(256, 26%, 20%);

$smaller-font-size: 12px;
$small-font-size: 14px;
$smallest-font-size: 10px;
$default-font-size: 16px;
$medium-font-size: 18px;

$heading-font-weight: 400;

$basic-letter-spacing: 0.8px;
