@import url("https://fonts.google.com/specimen/Karla");
@import url("https://fonts.google.com/specimen/DM+Serif+Display");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
h1 {
  font-family: "DM Serif Display", serif;
}
